# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit static analysis cache
.streamlit/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
